<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cube.ware.service.message">

    <application>
        <activity
            android:name=".chat.activity.p2p.P2PChatActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".chat.activity.group.GroupChatActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".preview.image.PreviewImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".preview.video.PreviewVideoActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>
