<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cube.ware">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <!-- 添加如下权限，以便使用更多的第三方SDK和更精准的统计数据 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/BaseAppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- FileProvider配置访问路径，适配7.0及其以上 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <activity
            android:name=".ui.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:icon="@mipmap/ic_launcher"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.appid.AppIdActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize"
            />

        <!-- cube核心服务 -->
        <service android:name=".service.core.CoreService" />

        <!-- 核心服务中的内部辅助服务 -->
        <service android:name=".service.core.CoreService$InnerService" />

        <!-- cube核心服务 -->
        <service android:name=".service.core.CoreAliveService" />

        <activity android:name=".ui.cubeIdList.CubeIdListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.mine.avatar.ModifyAvatarActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.contact.select.SelectContactActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".service.group.groupDetails.GroupDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.contact.friend.details.FriendDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".service.message.file.FileActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.setting.SettingActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.mine.name.ModifyNameActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.contact.addfriend.AddFriendActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".service.whiteboard.ui.WhiteBoardActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.selectMember.SelectMemberActivity"
                  android:screenOrientation="portrait"/>
    </application>

</manifest>