<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cube.ware.service">

    <application>
        <activity
            android:name=".call.p2pcall.P2PCallActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
    </application>

</manifest>